Jacob Knopping

12/6/19

## __SQL FOUNDATIONS III: DVD Rentals Assignment__

__Assignment Questions:__

1. How many movies are released for each rating?

2. What is the average rental duration for each rating?

3. What is the mean movie length? Calculate this by defining a function.

4. What is the median movie length? Calculate this by defining a function.

5. Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

__Credentials:__

_postgres_user_ = 'dsbc_student'

_postgres_pw_ = '7*.8G9QH21'

_postgres_host_ = '142.93.121.174'

_postgres_port_ = '5432'

_postgres_db_ = 'dvdrentals'

In [1]:
#Check libraries are installed
!pip install sqlalchemy
!pip install psycopg2
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.8.4)
Requirement already satisfied: psycopg2-binary in c:\programdata\anaconda3\lib\site-packages (2.8.4)

In [2]:
#Import the SQL Alchemy engine
from sqlalchemy import create_engine

In [3]:
#Set database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [4]:
#Check the connection is working properly
check = engine.execute('SELECT * FROM film LIMIT 3')

# no need for an open connection, as we're only doing a single query
engine.dispose()

# Process the results
for row in check:
  print(row)

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")
(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14")
(3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14")

In [5]:
#get rows for entire film table
rows = engine.execute('SELECT * FROM film').fetchall()
print(rows[-5]) #print last five rows as a check

(996, 'YOUNG LANGUAGE', 'A Unbelieveable Yarn of a Boat And a Database Administrator who must Meet a Boy in The First Manned Space Station', 2006, 1, None, 6, Decimal('0.99'), 183, Decimal('9.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Behind the Scenes'], "'administr':12 'boat':8 'boy':17 'databas':11 'first':20 'languag':2 'man':21 'meet':15 'must':14 'space':22 'station':23 'unbeliev':4 'yarn':5 'young':1")

1. How many movies are released for each rating?

In [6]:
sql_code_1 = '''
SELECT rating, COUNT(*) AS num_movies
FROM film
WHERE rating = 'G'
GROUP BY rating;
'''
sql_code_2 = '''
SELECT rating, COUNT(*) AS num_movies
FROM film
WHERE rating = 'PG'
GROUP BY rating;
'''
sql_code_3 = '''
SELECT rating, COUNT(*) AS num_movies
FROM film
WHERE rating = 'PG-13'
GROUP BY rating;
'''
sql_code_4 = '''
SELECT rating, COUNT(*) AS num_movies
FROM film
WHERE rating = 'R'
GROUP BY rating;
'''
sql_code_5 = '''
SELECT rating, COUNT(*) AS num_movies
FROM film
WHERE rating = 'NC-17'
GROUP BY rating;
'''
get_answer = engine.execute(sql_code_1)
engine.dispose()
ans = get_answer.first()
print('There are {} {}-rated films'.format(ans[1], ans[0]))

get_answer = engine.execute(sql_code_2)
engine.dispose()
ans = get_answer.first()
print('There are {} {}-rated films'.format(ans[1], ans[0]))

get_answer = engine.execute(sql_code_3)
engine.dispose()
ans = get_answer.first()
print('There are {} {}-rated films'.format(ans[1], ans[0]))

get_answer = engine.execute(sql_code_4)
engine.dispose()
ans = get_answer.first()
print('There are {} {}-rated films'.format(ans[1], ans[0]))

get_answer = engine.execute(sql_code_5)
engine.dispose()
ans = get_answer.first()
print('There are {} {}-rated films'.format(ans[1], ans[0]))

There are 178 G-rated films
There are 194 PG-rated films
There are 223 PG-13-rated films
There are 195 R-rated films
There are 210 NC-17-rated films

2. What is the average rental duration for each rating?

In [7]:
sql_code_1 = '''
SELECT rating, AVG(rental_duration) AS rental_dur
FROM film
WHERE rating = 'G'
GROUP BY rating;'''
sql_code_2 = '''
SELECT rating, AVG(rental_duration) AS rental_dur
FROM film
WHERE rating = 'PG'
GROUP BY rating;'''
sql_code_3 = '''
SELECT rating, AVG(rental_duration) AS rental_dur
FROM film
WHERE rating = 'PG-13'
GROUP BY rating;'''
sql_code_4 = '''
SELECT rating, AVG(rental_duration) AS rental_dur
FROM film
WHERE rating = 'R'
GROUP BY rating;'''
sql_code_5 = '''
SELECT rating, AVG(rental_duration) AS rental_dur
FROM film
WHERE rating = 'NC-17'
GROUP BY rating;'''

get_answer = engine.execute(sql_code_1)
ans = get_answer.first()
print("The average rental duration for {}-rated films is {}".format(ans[0], ans[1]))

get_answer = engine.execute(sql_code_2)
ans = get_answer.first()
print("The average rental duration for {}-rated films is {}".format(ans[0], ans[1]))

get_answer = engine.execute(sql_code_3)
ans = get_answer.first()
print("The average rental duration for {}-rated films is {}".format(ans[0], ans[1]))

get_answer = engine.execute(sql_code_4)
ans = get_answer.first()
print("The average rental duration for {}-rated films is {}".format(ans[0], ans[1]))

get_answer = engine.execute(sql_code_5)
ans = get_answer.first()
print("The average rental duration for {}-rated films is {}".format(ans[0], ans[1]))

The average rental duration for G-rated films is 4.8370786516853933
The average rental duration for PG-rated films is 5.0824742268041237
The average rental duration for PG-13-rated films is 5.0538116591928251
The average rental duration for R-rated films is 4.7743589743589744
The average rental duration for NC-17-rated films is 5.1428571428571429

3. What is the mean movie length? Calculate this by defining a function.

In [8]:
sql = '''
SELECT length
FROM film
'''
lengths = engine.execute(sql)
rows = lengths.fetchall()
lengths = [x['length'] for x in rows]
#print(lengths)

def mean(numbers):
    total_sum = 0; #initialize the sum to zero
    for num in numbers:
        total_sum += num #add up the numbers in the array
    count = len(numbers) #find the length of the array
    calc_mean = total_sum/count #calculate mean
    return calc_mean

#print('\n')
print('The mean of movie length is {}'.format(mean(lengths)))

The mean of movie length is 115.272

4. What is the median movie length? Calculate this by defining a function.

In [9]:
import math

def median(numbers):
    numbers.sort() #sort the list of numbers
    count = len(numbers) #get length of array
    is_even = count % 2 == 0 #check if even
    
    if (is_even):
        # find the two numbers in the middle of the array
        mid = math.floor(count / 2)
        a = numbers[mid]
        b = numbers[mid -1]
        #get average of two mid numbers
        ans = (a + b)/2
    else:
        ans = numbers[math.floor(count/2)]
    return ans

print('The median of the movie length is {}'.format(median(lengths)))

The median of the movie length is 114.0

5. Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [10]:
def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print('The standard deviation of the movie lengths is {}'.format(standard_deviation(lengths)))

The standard deviation of the movie lengths is 40.42633181855988